@media ( max-width: 1080px ){
    .informacoes .logo{
        width: auto;
    }
    .informacoes.descricao.ativa{
        width: 90%;
        height: 60%;
        font-size: 15px;
        padding: auto;
     
    }
    
    body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0 20px;

    }
}
  

@media ( max-width: 720px){
    .informacoes .logo{
        max-width: 480px;
    }
    .informacoes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .informacoes .descricao.ativa{
        width: 60%;
        text-align: center;

    }
    .descricao.ativa{
        font-size: 15pt;
        width: 80%;
    }
}
@media ( max-width: 420px) {
    .informacoes .logo{
        max-width: 380px;
    }
    .informacoes.descricao.ativa{
        width: 100%;
        height: 100%;
    }
    .menu-lateral{
        position: static;
        min-height: auto;
        width: 100%;
        margin-top: 50px;

    }
    .menu-lateral ul{
        flex-direction: row;
    }
    .conteudo{
        min-height: 70vh;
        gap: 50px;

    }
    body{
        padding: 20px;
    }
}